<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-reward-punishment-heading"
        data-cy="RewardPunishmentCreateUpdateHeading"
        jhiTranslate="hrVerseApp.rewardPunishment.home.createOrEditLabel"
      >
        Create or edit a Reward Punishment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="hrVerseApp.rewardPunishment.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let typeRef = editForm.get('type')!;
        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="hrVerseApp.rewardPunishment.type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
          @if (typeRef.invalid && (typeRef.dirty || typeRef.touched)) {
            <div>
              @if (editForm.get('type')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('type')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '20' }"
                  >This field cannot be longer than 20 characters.</small
                >
              }
            </div>
          }
        </div>

        @let amountRef = editForm.get('amount')!;
        <div class="mb-3">
          <label class="form-label" for="field_amount" jhiTranslate="hrVerseApp.rewardPunishment.amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          @if (amountRef.invalid && (amountRef.dirty || amountRef.touched)) {
            <div>
              @if (editForm.get('amount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('amount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let reasonRef = editForm.get('reason')!;
        <div class="mb-3">
          <label class="form-label" for="field_reason" jhiTranslate="hrVerseApp.rewardPunishment.reason">Reason</label>
          <input type="text" class="form-control" name="reason" id="field_reason" data-cy="reason" formControlName="reason" />
          @if (reasonRef.invalid && (reasonRef.dirty || reasonRef.touched)) {
            <div>
              @if (editForm.get('reason')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('reason')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let applyDateRef = editForm.get('applyDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_applyDate" jhiTranslate="hrVerseApp.rewardPunishment.applyDate">Apply Date</label>
          <div class="input-group">
            <input
              id="field_applyDate"
              data-cy="applyDate"
              type="text"
              class="form-control"
              name="applyDate"
              ngbDatepicker
              #applyDateDp="ngbDatepicker"
              formControlName="applyDate"
            />
            <button type="button" class="btn btn-secondary" (click)="applyDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (applyDateRef.invalid && (applyDateRef.dirty || applyDateRef.touched)) {
            <div>
              @if (editForm.get('applyDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let notesRef = editForm.get('notes')!;
        <div class="mb-3">
          <label class="form-label" for="field_notes" jhiTranslate="hrVerseApp.rewardPunishment.notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
          @if (notesRef.invalid && (notesRef.dirty || notesRef.touched)) {
            <div>
              @if (editForm.get('notes')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_employee" jhiTranslate="hrVerseApp.rewardPunishment.employee">Employee</label>
          <select
            class="form-control"
            id="field_employee"
            data-cy="employee"
            name="employee"
            formControlName="employee"
            [compareWith]="compareEmployee"
          >
            <option [ngValue]="null"></option>
            @for (employeeOption of employeesSharedCollection; track $index) {
              <option [ngValue]="employeeOption">{{ employeeOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
