<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (salaryDistribute(); as salaryDistributeRef) {
      <div>
        <h2 data-cy="salaryDistributeDetailsHeading">
          <span jhiTranslate="hrVerseApp.salaryDistribute.detail.title">Salary Distribute</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ salaryDistributeRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="hrVerseApp.salaryDistribute.startDate">Start Date</span></dt>
          <dd>
            <span>{{ salaryDistributeRef.startDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="hrVerseApp.salaryDistribute.endDate">End Date</span></dt>
          <dd>
            <span>{{ salaryDistributeRef.endDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="hrVerseApp.salaryDistribute.workDay">Work Day</span></dt>
          <dd>
            <span>{{ salaryDistributeRef.workDay }}</span>
          </dd>
          <dt><span jhiTranslate="hrVerseApp.salaryDistribute.typeOfSalary">Type Of Salary</span></dt>
          <dd>
            <span>{{ salaryDistributeRef.typeOfSalary }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/salary-distribute', salaryDistributeRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
